img {
    width: 200px;
}

.main-title {
    text-align: right;
    padding-top: 50px;
}

.website-alert {
  padding-top: 60px;
}

.featured-project{
    width: 50%;
}

.top-buffer{
  margin-top:20px
}
