img {
    width: 200px;
}

.main-title {
    text-align: right;
    padding-top: 50px;
}

footer {
  text-align: center;
}

.about-me-pic {
  background-image: url("Assets/AboutMe.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.white-text {
  color: white;
}
